#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  table-layout: auto;
  border-collapse: collapse; /* Collapses borders between cells */
  margin: 50px auto; 
  align-content: center;
}

th, td {
  border: 1px solid #ddd; /* Light grey border for cells */
  padding: 8px; /* Padding inside cells */
  text-align: left; /* Aligns text to the left */
  color: black;
}

th {
  background-color: #e8730d; /* Orange background for table headers */
  font-weight: bold; /* Bold text for headers */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for even rows */
}

tr:hover {
  background-color: #e6e6e6; /* Highlight row on hover */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  font-weight: bold;
  font-size: 56px;
  margin: 0px;
  color: #e8730d;
  text-decoration: inherit;
  text-align: left;
}

h1 {
  font-weight: bold;
  font-size: 38px;
  margin: 0px;
  text-decoration: inherit;
  text-align: center;
}

h3 {
  color: "black";
}

button {
  background-color: #4d4d4d;
  color: #ffffff;
  border-radius: 6px;
  margin: 2px;
}

caption {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  display: block;
}

input, select {
  width: 30%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reset-btn {
  float: left;                  
  display: block;               
  background-color: #f2f2f2;    
  color: #333;                
  text-align: center;
  padding: 14px 16px;        
  text-decoration: none;       
  font-size: 18px;           
  font-weight: bold;   
  border: none;             
  cursor: pointer;
  margin-left: auto;    
}

.reset-btn:hover {
  background-color: #ddd;
  color: black;
}