#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 90%; /* Makes the table span the full width of its container */
  border-collapse: collapse; /* Collapses borders between cells */
  margin-bottom: 1em; /* Adds some space below the table */
  position: absolute;
  top: 50%;
  left: 50%; /* For horizontal centering as well */
  transform: translate(-50%, -50%); /* Adjusts for the element's own size */
}

th, td {
  border: 1px solid #ddd; /* Light grey border for cells */
  padding: 8px; /* Padding inside cells */
  text-align: left; /* Aligns text to the left */
  color: black;
}

th {
  background-color: #e8730d; /* Orange background for table headers */
  font-weight: bold; /* Bold text for headers */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for even rows */
}

tr:hover {
  background-color: #e6e6e6; /* Highlight row on hover */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  margin: 0px;
  color: #e8730d;
  text-decoration: inherit;
  text-align: left;
}