/*
# Citation for this stylesheet:
# Date: 2025-11-19
# Based on: Syntax and example code from W3 Schools CSS pages
# Source URL: https://www.w3schools.com/html/html_css.asp
*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Table styling */
table {
  table-layout: auto;
  border-collapse: collapse;
  margin: 50px auto; 
  align-content: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: black;
}

th {
  background-color: #e8730d;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

/* Navigation bar */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-weight: bold;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Headers */
.header {
  font-weight: bold;
  font-size: 56px;
  margin: 0;
  color: #e8730d;
  text-align: left;
}

h1 {
  font-weight: bold;
  font-size: 38px;
  margin: 0;
  text-align: center;
}

h3 {
  color: black;
}

/* Buttons */
button {
  background-color: #4d4d4d;
  color: #ffffff;
  border-radius: 6px;
  margin: 2px;
}

/* Table captions */
caption {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

/* Forms */
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  display: block;
}

input, select {
  width: 30%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Reset button */
.reset-btn {
  float: left;
  display: block;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.reset-btn:hover {
  background-color: #ddd;
  color: black;
}
