#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%; /* Makes the table span the full width of its container */
  border-collapse: collapse; /* Collapses borders between cells */
  margin-bottom: 1em; /* Adds some space below the table */
}

th, td {
  border: 1px solid #ddd; /* Light grey border for cells */
  padding: 8px; /* Padding inside cells */
  text-align: left; /* Aligns text to the left */
  color: black;
}

th {
  background-color: #e8730d; /* Orange background for table headers */
  font-weight: bold; /* Bold text for headers */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for even rows */
}

tr:hover {
  background-color: #e6e6e6; /* Highlight row on hover */
}

button {
  color: "white";
  background: "red";
  border: "none"; 
  padding: "6px 10px";
  border-radius: "5px" ;
}